<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">
    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2020%2020'%3E%3Ctext%20x='0'%20y='14'%3E🐁%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
    <title>three bedroom apartment - {{title}}</title>
  </head>
  <body>
  	<a href="/"><img src="https://three-bedroom-apartment.com/assets/images/TBA-logo-small.webp" alt="TBA-logo-small"></a>
    <p><i>three bedroom aparmtnet</i></p>
    {% include "partials/_navigation.njk" %}
    <main> 
      {{content | safe}}
      {%- if tags == "post" %}
      <p><a href="/writing">back</a></p>
    {%- endif -%}
    </main>
    {% include "partials/_footer.njk" %}
  </body>
</html>