<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%23f5f5f5%22></rect><text x=%2250%%22 y=%2250%%22 dominant-baseline=%22central%22 text-anchor=%22middle%22 font-size=%2290%22>🐁</text></svg>" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
    <title>three bedroom apartment - {{title}}</title>
  </head>
  <body>
  	<a href="/"><img src="https://three-bedroom-apartment.com/assets/images/TBA-logo-small.webp" alt="TBA-logo-small"></a>
    <p><i>three bedroom aparmtnet</i></p>
    {% include "partials/_navigation.njk" %}
    <main> 
      {{content | safe}}
      {%- if tags == "post" %}
      <p><a href="/writing">back</a></p>
    {%- endif -%}
    </main>
    {% include "partials/_footer.njk" %}
  </body>
</html>