body {
  background-color: #ffe0b2;
}
h1 {
  margin: 0;
  padding: 0;
}
a, a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
#posts-container {
  max-width: 700px;
}