---
layout: base
title: images
tags: page
---

<a href="/assets/images/POV_large.webp"><img src="/assets/images/POV_large.webp" alt="POV" id="halo"></a>

<hr>

<div id="gallery">

{% photoFolder "src/assets/images/gallery" %}

</div>