<a href="/"><img src="/assets/UI/TBA_logo.webp" alt="TBA logo" id="logo"></a>
<p><i>three bedroom aparmtnet</i></p>
<hr>
<p id="about">YOU HAVE TO BE STRICT /<br>
MAN MUSS STRENG SEIN<br>
TBA023305@GMAIL.COM</p>
<hr>