<a href="/"><img src="/assets/UI/TBA_logo.webp" alt="TBA logo" id="logo"></a>
<p><i>three bedroom aparmtnet</i></p>
<hr>
<p id="about">CHARACTERS & NARRATIVES<br>
MULTI-DISCPLINARY FALLING APART<br>
TBA023305@GMAIL.COM</p>
<hr>